<div class="ui red segment" ng-if="editableFields === true"  cms-collapsable>
    <div class="ui red ribbon label">{{collection.nickname}} Settings</div>
    <i class="compress icon collapse_toggle"></i>
    <div ng-if="collection.type == 'Page'" cms-status owner="collection" class="ui toggle checkbox">
        <input type="checkbox" name="{{collection.slug}}_published" ng-checked="collection.status == 'published'">
        <label>Published</label>
    </div>
        <div class="ui hidden divider"></div>
        <div class="basic segment collapser expanded">
            <form novalidate class="ui form" ng-submit="updateCollection(collection)" ng-model="collection" name="collectionForm">
              <!--  <div class="field">
                    <label for="nickname">Nickname</label>
                   <input type="text" name="nickname" ng-model="collection.nickname" />
               </div>
                <div class="field">
                    <label for="slug">Slug</label>
                    <input type="text" name="slug" ng-model="collection.slug" />
                </div> -->
                <div cms-field class="field" ng-repeat="(name, type) in collection.component.fields" fieldname="name" fieldtype="type" owner="collection" form="collectionForm"></div>
                <input class="ui red basic button" type="submit" id="submit" value="Save" />
            </form>
        </div>
        <div class="ui success message" ng-model="collection.ok" ng-show="collection.ok === true">Collection info updated.</div>
    </div>
</div>

<div class="ui error message" ng-model="collection.reorderOk" ng-show="collection.reorderOk === false">Oops! Something went wront reordering the collection items.</div>
<ng-include src="'/js/elemental/views/snippets/collection_list.html'"></ng-include>


    
