<label for="{{ fieldname }}">{{label}}</label>
<datepicker date-format="longDate" date-set="{{attribute.value}}">
  <input ng-model="attribute.value" type="text"/>
</datepicker>
<div class="ui hidden divider"></div>
<div ng-show="owner.errors.{{fieldname}}.length" ng-repeat="error in owner.errors[fieldname]">
    <div class="ui visible error message" style="margin-top: 10px">{{error}}</div>
</div>