<label for="{{ fieldname }}">{{label}}</label>
<textarea name="{{ fieldname }}" ng-model="attribute.value" {{required}} redactor></textarea>
<!-- <div class="ui visible error message" ng-show="form.$submitted || form.{{fieldname}}.$touched">{{label}} is required</div> -->
<div ng-show="owner.errors.{{fieldname}}.length" ng-repeat="error in owner.errors[fieldname]">
    <div class="ui visible error message" style="margin-top: 10px">{{error}}</div>
</div>