<div class="ui main container pusher">
    <div class="ui red segment">
        <h1 class="ui header">Welcome to Your CMS!</h1>
        <p>Open the menu to perform various actions</p>
    </div>
</div>